body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

#status {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

label {
  margin-right: 10px;
}

select {
  margin-right: 20px;
}

#chord-diagram {
  transform: scaleX(-1);
}

#fretboard-container {
  max-width: 50%;
  margin: 0 auto;
  justify-content: center;
}

/* Existing styles */
.fretboard {
  margin: 20px auto;
  /* Other styles */
}

/* New styles to adjust the font size of fretboard dot labels */
.fretboard svg text {
  font-size: 20px; /* Adjust this value */
}

#notation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

